/* https://color.adobe.com/es/search?q=formula%201 */
/* #BF090C Rojo
#120E10 Negro
#A61327 Rojo oscuro
#F3C842 Amarillo
#393939 Gris */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    /* 1rem = 10px */
}

body{
    background-color: #BF090C;
}

/* ----------------header---------------- */

.img-homepage{
    width: 30%;
    height: auto;
}

header ul li {
    font-size: 3rem;
    text-align: center;
}

/* ----------------index/mainpage---------------- */

h1{
    text-align: center;
    width: 100%;
    font-weight: bold;
    text-shadow: 0 0 1rem white;
    margin-bottom: 2rem;
}

.main-container{
    margin: 2rem auto;
    box-shadow: 0 0 0.6rem black;
    padding: 2rem 0 2rem;
    display: flex;
    flex-direction: column;
}

.fst-sct-main{
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-top: 1rem;
}

.fst-sct-main p{
    margin-left: 1.5rem;
    margin-bottom: 0;
    color: white;
    font-family: "inter";
}

.p-main{
    color: white;
    font-family: "inter";
    margin: 0 auto;
    padding-top: 1rem;
}

.snd-sct-main{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0 auto;
    padding-top: 1rem;
}

.snd-sct-main p{
    margin-right: 1.5rem;
    color: white;
    font-family: "inter";
}

.trd-sct-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    padding-top: 1rem;
}

.trd-sct-main p{
    margin-left: 1.5rem;
    color: white;
    font-family: "inter";
}

.imagen-historia{
    box-shadow: 0.4rem 0.5rem 0.3rem black;
    border: 2px solid #F3C842;
}

/* ----------------pilotos---------------- */

.pilotos-container{
    margin: 2rem auto;
    box-shadow: 0 0 0.6rem black;
    padding: 2rem 0 2rem;
    display: flex;
    flex-wrap: wrap;
}
.pilt-sct ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pilt-sct ul li{
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-items: center;
    margin: 0 2rem;
}    

.pilt-sct ul li h2{
    width: 100%;
    text-align: center;
    font-size: 3.5rem;
}

.pilt-sct ul li img{
    justify-content: center;
    margin: 0 auto 1rem;
    height: auto;
    box-shadow: 0.4rem 0.5rem 0.5rem black;
    border: 2px solid #F3C842;
}

.pilt-sct ul li p{
    color: white;
    font-family: "inter";
    text-align: center;
}



/* ----------------pistas---------------- */

.pistas-container{
    margin: 2rem auto;
    box-shadow: 0 0 0.6rem black;
    padding: 2rem 0 2rem;
}

.pistas-container ul{
    display: flex;
    flex-flow: row wrap;
    margin: 0 2rem 0 0;
}

.pistas-container ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 2rem;
}

.pistas-container ul li h2{
    width: 100%;
    text-align: center;
}

.pistas-container ul li img{
    width: 90%;
    height: auto;
    box-shadow: 0.4rem 0.5rem 0.5rem black;
    border: 2px solid #F3C842;
}

/* ----------------equipos---------------- */

.equipos-container{
    margin: 2rem auto 2rem;
    box-shadow: 0 0 0.6rem black;
    padding: 2rem 0 2rem;
}

.equipos-container ul{
    display: flex;
    flex-flow: row wrap;
    margin: 0 2rem 0 0;
}

.equipos-container ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.equipos-container ul li h2{
    width: 100%;
    text-align: center;
}

.equipos-container ul li img{
    width: 90%;
    height: auto;
    box-shadow: 0.4rem 0.5rem 0.5rem black;
    border: 2px solid #F3C842;
}

/* ----------------contacto---------------- */

.contact-container{
    margin: 2rem auto;
    box-shadow: 0 0 0.6rem black;
    padding: 2rem 0 2rem;
}

.contact-grid{
    display: grid;
}

.map{
    grid-area: map;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario{
    grid-area: formulario;
    margin: 0 auto;
}

.map h2{
    width: auto;
    text-align: center;
}

.map iframe{
    width: 80%;
    box-shadow: 0.4rem 0.5rem 0.5rem black;
}

.formulario form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
    height: 100%;
    justify-content: center;
}

.input-labels{
    display: flex;
}

.input-labels div{
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

.formulario label{
    font-weight: bold;
}

.message-area{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.message-area textarea{
    width: 90%;
}

.sbmt-btn {
    font-weight: 700;;
    padding: 0.5rem 2rem;
    border-radius: 20%;
    margin: 2rem;
    border: 2px solid black;
}

.sbmt-btn:hover {
    background-color: black;
    color: white;
    border: 2px solid #F3C842;
}

/* ----------------footer---------------- */

footer{
    margin-top: 0;
    width: 100%;
}


footer p{
    color: white;
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

svg {
    width: 2rem;
    height: 2rem;
}

/* ----------------mobile---------------- */

@media screen and (min-width: 320px) and (max-width: 767px){
    
    /* --------header-------- */
    .img-homepage{
        width: 30%;
        height: auto;
    }

    header ul li{
        font-size: 2.5rem;
    }

    /* --------index/mainpage-------- */
    h1{
        font-size: 5rem;
    }

    .main-container{
        width: 100%;
        margin: 2rem auto;
    }
    
    .fst-sct-main{
        flex-direction: column;
        width: 90%;
    }
    
    .fst-sct-main p{
        font-size: 2.5rem;
        margin: 0;
        text-align: justify;
    }
    
    .p-main{
        width: 90%;
        font-size: 2.5rem;
        margin: 0 auto;
        text-align: justify;
    }
    
    .snd-sct-main{
        flex-direction: column;
        width: 90%;
    }
    
    .snd-sct-main p{
        font-size: 2.5rem;
        margin: 0 auto;
        text-align: justify;
    }
    
    .trd-sct-main{
        flex-direction: column;
        width: 90%;
    }
    
    .trd-sct-main p{
        font-size: 2.5rem;
        margin: 0 auto;
        text-align: justify;
    }
    
    .imagen-historia{
        width: 70%;
        margin-bottom: 1rem;
    }

    /* --------pilotos-------- */
    .pilotos-container{
        width: 100%;
    }
    
    .pilt-sct ul li{
        width: 90%;
    }    

    .pilt-sct ul li img{
        width: 70%;
    }
    
    .pilt-sct ul li p{
        width: 100%;
        font-size: 2.5rem;
        margin: 0 auto;
        text-align: justify;
    }

    /* --------pistas-------- */
    .pistas-container{
        width: 100%;
    }
    
    .pistas-container ul{
        flex-direction: column;
        align-items: center;
    }

    .pistas-container ul li{
        width: 80%;
    }
    
    .pistas-container ul li h2{
        font-size: 3.5rem;
    }

    /* --------equipos-------- */   
    .equipos-container{
        width: 100%;
    }
    
    .equipos-container ul{
        flex-direction: column;
        align-items: center;
    }

    .equipos-container ul li{
        width: 80%;
    }
    
    .equipos-container ul li h2{
        font-size: 3.5rem;
    }

    /* --------contacto-------- */
    .contact-container{
        width: 100%;
    }

    .contact-grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "map"
        "formulario"
    ;
    }

    .formulario{
        width: 90%;
    }

    .formulario form{
        height: 80%;
    }

    .map{
        height: 80%;
    }

    .map h2{
        font-size: 4rem;
    }

    .input-labels{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .input-labels div{
        flex-direction: column;
        width: 90%;
        margin:0 0 1rem;
    }

    .input-labels div input{
        padding: 1.5rem;
    }

    .formulario label{
        font-size: 3rem;
        text-align: center;
    }

    .sbmt-btn {
        font-size: 3rem;
    }

    /* --------footer-------- */
    footer p{
        font-size: 2rem;
    }
}


/* ----------------tablet---------------- */

@media screen and (min-width: 768px) and (max-width: 1023px){
    
    /*-----index/mainpage-----*/
    h1{
        font-size: 5rem;
    }

    .main-container{
        width: 100%;
    }
    
    .fst-sct-main{
        width: 90%;
    }
    
    .fst-sct-main p{
        font-size: 2rem;
    }
    
    .p-main{
        width: 90%;
        font-size: 2rem;
    }
    
    .snd-sct-main{
        width: 90%;
    }
    
    .snd-sct-main p{
        font-size: 2rem;
    }
    
    .trd-sct-main{
        width: 90%;
    }
    
    .trd-sct-main p{
        font-size: 2rem;
    }
    
    .imagen-historia{
        width: 40%;
    }

    /* --------pilotos-------- */
    .pilotos-container{
        width: 100%;
    }
    
    .pilt-sct ul li{
        width: 90%;
    }    

    .pilt-sct ul li img{
        width: 60%;
    }
    
    .pilt-sct ul li p{
        width: 100%;
        font-size: 2rem;
        margin: 0 auto;
        text-align: justify;
    }

    /*--------pistas--------*/
    .pistas-container{
        width: 100%;
    }
    
    .pistas-container ul{
        justify-content: space-evenly;
    }

    .pistas-container ul li{
        width: 40%;
    }
    
    .pistas-container ul li h2{
        font-size: 3rem;
    }

    /* --------equipos-------- */
    .equipos-container{
        width: 100%;
    }
    
    .equipos-container ul{
        justify-content: space-evenly;
    }

    .equipos-container ul li{
        width: 40%;
    }
    
    .equipos-container ul li h2{
        font-size: 3rem;
    }

    /* --------contacto-------- */
    .contact-container{
        width: 100%;
    }

    .contact-grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "map"
        "formulario"
    ;
    }

    .formulario{
        width: 90%;
    }

    .formulario form{
        height: 80%;
    }

    .map{
        height: 80%;
    }

    .map h2{
        font-size: 4rem;
    }

    .input-labels{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .input-labels div{
        width: 90%;
    }

    .input-labels div input{
        padding: 1.5rem;
    }

    .formulario label{
        font-size: 3rem;
        text-align: center;
    }

    .sbmt-btn {
        font-size: 3rem;
    }
}

/* ----------------desktop---------------- */

@media screen and (min-width: 1024px){
    /* --------index/mainpage-------- */
    h1{
        font-size: 4rem; 
    }

    .main-container{
        width: 80%;
    }

    .fst-sct-main{
        width: 85%;
    }

    .fst-sct-main p{
        font-size: 1.7rem;
    }

    .p-main{
        width: 85%;
        font-size: 1.7rem;
    }

    .snd-sct-main{
        width: 85%; 
    }

    .snd-sct-main p{
        font-size: 1.7rem;
    }

    .trd-sct-main{
        width: 85%;
    }

    .trd-sct-main p{
        font-size: 1.7rem;
    }

    .imagen-historia{
        width: 25%;
    }

    /* --------pilotos-------- */
    .pilotos-container{
        width: 90%;
    }   

    .pilt-sct ul li img{
        width: 40%;
    }
    
    .pilt-sct ul li p{
        font-size: 1.7rem;
    }

    /* --------pistas-------- */
    .pistas-container{
        width: 95%;
    }
    
    .pistas-container ul{
        justify-content: center;
    }

    .pistas-container ul li{
        width: 20%;
    }
    
    .pistas-container ul li h2{
        font-size: 2.5rem;
    }

    /* --------equipos-------- */ 
    .equipos-container{
        width: 95%;
    }
    
    .equipos-container ul{
        justify-content: center;
    }

    .equipos-container ul li{
        width: 20%;
    }
    
    .equipos-container ul li h2{
        font-size: 2.5rem;
    }

    /* --------contacto-------- */
    .contact-container{
        width: 85%;
    }

    .contact-grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "map formulario"
        ;
    }
    
    .map h2{
        font-size: 3.5rem;
    }

    .input-labels{
        flex-flow: row wrap;
        justify-content: center;
    }

    .input-labels div{
        width: 45%;
    }

    .input-labels div input{
        padding: 0.7rem;
    }

    .formulario label{
        font-size: 2.5rem;
    }

    .sbmt-btn{
        font-size: 2rem;
    }

    /* --------footer------- */
    .lfooter{
        position: absolute;
        bottom: 0;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap')