@import url("https://fonts.googleapis.com/css2?family=Anton&family=Epilogue:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* https://color.adobe.com/es/search?q=formula%201 */
.container, .contact-container, .equipos-container, .pistas-container, .pilotos-container, .main-container {
  margin: 2rem auto;
  box-shadow: 0 0 0.6rem #120E10;
  padding: 2rem 0;
}

.images-styles, .equipos-container ul li img, .pistas-container ul li img, .pilotos-container .pilt-sct ul li img, .main-container .imagen-historia {
  box-shadow: 0.4rem 0.5rem 0.5rem #120E10;
  border: 2px solid #F3C842;
}

.text, .pilotos-container .pilt-sct ul li p, .main-container .trd-sct-main p, .main-container .snd-sct-main p, .main-container .p-main, .main-container .fst-sct-main p {
  color: #FFFFFF;
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: justify;
}

.main-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-container {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-container {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .main-container {
    width: 80%;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-container .imagen-historia {
    width: 70%;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-container .imagen-historia {
    width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .main-container .imagen-historia {
    width: 25%;
  }
}
.main-container .fst-sct-main {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-top: 1rem;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-container .fst-sct-main {
    flex-direction: column;
    width: 90%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-container .fst-sct-main {
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .main-container .fst-sct-main {
    width: 85%;
  }
}
.main-container .fst-sct-main p {
  margin-left: 1.5rem;
  margin-bottom: 0;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-container .fst-sct-main p {
    font-size: 2.5rem;
    margin: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-container .fst-sct-main p {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .main-container .fst-sct-main p {
    font-size: 1.7rem;
  }
}
.main-container .p-main {
  margin: 0 auto;
  padding-top: 1rem;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-container .p-main {
    width: 90%;
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-container .p-main {
    width: 90%;
    font-size: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .main-container .p-main {
    width: 85%;
    font-size: 1.7rem;
  }
}
.main-container .snd-sct-main {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 0 auto;
  padding-top: 1rem;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-container .snd-sct-main {
    flex-direction: column;
    width: 90%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-container .snd-sct-main {
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .main-container .snd-sct-main {
    width: 85%;
  }
}
.main-container .snd-sct-main p {
  margin-right: 1.5rem;
  margin-bottom: 0;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-container .snd-sct-main p {
    font-size: 2.5rem;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-container .snd-sct-main p {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .main-container .snd-sct-main p {
    font-size: 1.7rem;
  }
}
.main-container .trd-sct-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding-top: 1rem;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-container .trd-sct-main {
    flex-direction: column;
    width: 90%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-container .trd-sct-main {
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .main-container .trd-sct-main {
    width: 85%;
  }
}
.main-container .trd-sct-main p {
  margin-left: 1.5rem;
  margin-bottom: 0;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-container .trd-sct-main p {
    font-size: 2.5rem;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-container .trd-sct-main p {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .main-container .trd-sct-main p {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .pilotos-container {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .pilotos-container {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .pilotos-container {
    width: 90%;
  }
}
.pilotos-container .pilt-sct ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}
.pilotos-container .pilt-sct ul li {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 0 2rem 1rem;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .pilotos-container .pilt-sct ul li {
    width: 90%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .pilotos-container .pilt-sct ul li {
    width: 90%;
  }
}
.pilotos-container .pilt-sct ul li h2 {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .pilotos-container .pilt-sct ul li h2 {
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .pilotos-container .pilt-sct ul li h2 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .pilotos-container .pilt-sct ul li h2 {
    font-size: 2.5rem;
  }
}
.pilotos-container .pilt-sct ul li img {
  justify-content: center;
  margin: 0 auto 1rem;
  height: auto;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .pilotos-container .pilt-sct ul li img {
    width: 70%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .pilotos-container .pilt-sct ul li img {
    width: 60%;
  }
}
@media screen and (min-width: 1024px) {
  .pilotos-container .pilt-sct ul li img {
    width: 40%;
  }
}
.pilotos-container .pilt-sct ul li p {
  text-align: center;
  margin-bottom: 0;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .pilotos-container .pilt-sct ul li p {
    width: 100%;
    font-size: 2.5rem;
    margin: 0 auto;
    text-align: justify;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .pilotos-container .pilt-sct ul li p {
    width: 100%;
    font-size: 2rem;
    margin: 0 auto;
    text-align: justify;
  }
}
@media screen and (min-width: 1024px) {
  .pilotos-container .pilt-sct ul li p {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .pistas-container {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .pistas-container {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .pistas-container {
    width: 95%;
  }
}
.pistas-container ul {
  display: flex;
  flex-flow: row wrap;
  margin: 0 2rem;
  padding: 0;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .pistas-container ul {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .pistas-container ul {
    justify-content: space-evenly;
  }
}
.pistas-container ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 2rem;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .pistas-container ul li {
    width: 80%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .pistas-container ul li {
    width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .pistas-container ul li {
    width: 20%;
  }
}
.pistas-container ul li h2 {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .pistas-container ul li h2 {
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .pistas-container ul li h2 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .pistas-container ul li h2 {
    font-size: 2.5rem;
  }
}
.pistas-container ul li img {
  width: 90%;
  height: auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .equipos-container {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .equipos-container {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .equipos-container {
    width: 95%;
  }
}
.equipos-container ul {
  display: flex;
  flex-flow: row wrap;
  margin: 0 2rem;
  padding: 0;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .equipos-container ul {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .equipos-container ul {
    justify-content: space-evenly;
  }
}
.equipos-container ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .equipos-container ul li {
    width: 80%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .equipos-container ul li {
    width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .equipos-container ul li {
    width: 20%;
  }
}
.equipos-container ul li h2 {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .equipos-container ul li h2 {
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .equipos-container ul li h2 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .equipos-container ul li h2 {
    font-size: 2.5rem;
  }
}
.equipos-container ul li img {
  width: 90%;
  height: auto;
}

.contact-container {
  padding: 2rem 0 3.5rem;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .contact-container {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contact-container {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .contact-container {
    width: 85%;
  }
}
.contact-container .contact-grid {
  display: grid;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .contact-container .contact-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-areas: "map" "formulario";
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contact-container .contact-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-areas: "map" "formulario";
  }
}
@media screen and (min-width: 1024px) {
  .contact-container .contact-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "map formulario";
  }
}
.contact-container .contact-grid .map {
  grid-area: map;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-container .contact-grid .map h2 {
  width: auto;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .contact-container .contact-grid .map h2 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contact-container .contact-grid .map h2 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .contact-container .contact-grid .map h2 {
    font-size: 3.5rem;
  }
}
.contact-container .contact-grid .map iframe {
  width: 80%;
  box-shadow: 0.4rem 0.5rem 0.5rem #120E10;
}
.contact-container .contact-grid .formulario {
  grid-area: formulario;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .contact-container .contact-grid .formulario {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contact-container .contact-grid .formulario {
    width: 100%;
  }
}
.contact-container .contact-grid .formulario form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .contact-container .contact-grid .formulario form {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contact-container .contact-grid .formulario form {
    width: 80%;
    margin: 2rem auto 0;
  }
}
.contact-container .contact-grid .formulario form label {
  font-weight: bold;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .contact-container .contact-grid .formulario form label {
    font-size: 3rem;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contact-container .contact-grid .formulario form label {
    font-size: 3rem;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .contact-container .contact-grid .formulario form label {
    font-size: 2.5rem;
  }
}
.contact-container .contact-grid .formulario form .input-labels {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .contact-container .contact-grid .formulario form .input-labels {
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contact-container .contact-grid .formulario form .input-labels {
    align-items: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .contact-container .contact-grid .formulario form .input-labels input {
    padding: 1.5rem;
  }
  .contact-container .contact-grid .formulario form .input-labels input::-moz-placeholder {
    font-size: 2rem;
  }
  .contact-container .contact-grid .formulario form .input-labels input::placeholder {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contact-container .contact-grid .formulario form .input-labels input {
    padding: 1.5rem;
  }
  .contact-container .contact-grid .formulario form .input-labels input::-moz-placeholder {
    font-size: 2rem;
  }
  .contact-container .contact-grid .formulario form .input-labels input::placeholder {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .contact-container .contact-grid .formulario form .input-labels input {
    padding: 0.7rem;
  }
  .contact-container .contact-grid .formulario form .input-labels input::-moz-placeholder {
    font-size: 1.5rem;
  }
  .contact-container .contact-grid .formulario form .input-labels input::placeholder {
    font-size: 1.5rem;
  }
}
.contact-container .contact-grid .formulario form .input-labels .input-columns {
  display: flex;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .contact-container .contact-grid .formulario form .input-labels .input-columns {
    flex-direction: column;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contact-container .contact-grid .formulario form .input-labels .input-columns {
    flex-direction: column;
    width: 100%;
  }
}
.contact-container .contact-grid .formulario form .input-labels .input-columns div {
  display: flex;
  flex-direction: column;
  margin: 0 1.5rem 1rem;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .contact-container .contact-grid .formulario form .input-labels .input-columns div {
    margin: 0 0 0.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contact-container .contact-grid .formulario form .input-labels .input-columns div {
    margin: 0 0 0.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .contact-container .contact-grid .formulario form .input-labels .input-columns div {
    width: 50%;
  }
}
.contact-container .contact-grid .formulario form .message-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.contact-container .contact-grid .formulario form .message-area div {
  width: 100%;
  padding: 0 1.5rem;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .contact-container .contact-grid .formulario form .message-area div {
    padding: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contact-container .contact-grid .formulario form .message-area div {
    padding: 0;
  }
}
.contact-container .contact-grid .formulario form .message-area div textarea {
  width: 100%;
}
.contact-container .contact-grid .formulario form .sbmt-btn {
  font-weight: 700;
  padding: 0.5rem 2rem;
  border-radius: 20%;
  margin: 1.5rem;
  border: 2px solid #120E10;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .contact-container .contact-grid .formulario form .sbmt-btn {
    font-size: 3rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contact-container .contact-grid .formulario form .sbmt-btn {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .contact-container .contact-grid .formulario form .sbmt-btn {
    font-size: 2rem;
  }
}
.contact-container .contact-grid .formulario form .sbmt-btn:hover {
  background-color: #120E10;
  color: #FFFFFF;
  border: 2px solid #F3C842;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}
html body {
  background-color: #BF090C;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
html body h1 {
  text-align: center;
  width: 100%;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0 0 1rem #FFFFFF;
  margin-bottom: 2rem;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  html body h1 {
    font-size: 5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  html body h1 {
    font-size: 4.5rem;
  }
}
@media screen and (min-width: 1024px) {
  html body h1 {
    font-size: 4rem;
  }
}
html body header .img-homepage {
  width: 30%;
  height: auto;
}
html body header ul li {
  font-size: 3rem;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  html body header ul li {
    font-size: 2.5rem;
  }
}
html body footer {
  margin-top: auto;
  width: 100%;
}
html body footer p {
  color: #FFFFFF;
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  html body footer p {
    font-size: 2rem;
  }
}
html body svg {
  width: 2rem;
  height: 2rem;
}/*# sourceMappingURL=styles.css.map */