/* https://color.adobe.com/es/search?q=formula%201 */
/* #BF090C Rojo
#120E10 Negro
#A61327 Rojo oscuro
#F3C842 Amarillo
#393939 Gris */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px */
}

.img-homepage{
    width: 30%;
    height: auto;
}

header ul li {
    font-size: 3rem;
    text-align: center;
}

img {
    width: 20%;
    height: auto;
}

main {
    width: 80%;
    background-color: #BF090C;
    box-shadow: 5px 5px 10px black;
}


footer {
    background-color: #120E10;
    height: 9;
}

footer p {
    color: white;
}

footer nav {
    display: flex;
    padding: 2rem;
    size: 2rem;
}

h1 {
    font-size: 4rem;
    text-align: center;
    margin-top: 0.5rem;
}

h2 {
    font-size: 3rem;
    text-align: center;
}
p {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    color: white;
}



input {
    display: block;
    width: 90%;
    margin-left: 5%;
    padding: 1rem;
}

label {
    display: block;
    margin-left: 45%;
    font-size: 2rem;
    color: white;
}

textarea {
    display: block;
    width: 90%;
    align-items: center;
    margin-left: 5.5%;
    margin-bottom: 1rem;
}

iframe {
    width: 40%;
    margin-left: 30%;
}

.sbmt-btn {
    width: 10rem;
    margin-left: 45%;
    border-radius: 20%;
    margin-bottom: 1rem;
}

svg {
    width: 2rem;
    height: 2rem;
    color: white;
}

/* mobile */

@media screen and (min-width: 320px) and (max-width: 767px){
    .img-homepage{
        width: 30%;
        height: auto;
    }

    header ul li{
        font-size: 2.5rem;
    }
}
    

/* tablet */

@media screen and (min-width: 768px) and (max-width: 1023px){
    
}

/* desktop */

@media screen (min-width: 1024px){
    
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap')