.main-container{
    @extend .container;
    display: flex;
    flex-direction: column;
    @include media(mobile){
        width: 100%;
    }
    @include media(tablet){
        width: 100%;
    }
    @include media(desktop){
        width: 80%;
    }
    .imagen-historia{
        @extend .images-styles;
        @include media(mobile){
            width: 70%;
            margin-bottom: 1rem;
        }
        @include media(tablet){
            width: 40%;
        }
        @include media(desktop){
            width: 25%;
        }
    }
    .fst-sct-main{
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding-top: 1rem;
        @include media(mobile){
            flex-direction: column;
            width: 90%;
        }
        @include media(tablet){
            width: 90%;
        }
        @include media(desktop){
            width: 85%;
        }
        p{
            @extend .text;
            margin-left: 1.5rem;
            margin-bottom: 0;
            @include media(mobile){
                font-size: map-get($p-fsize, sm);
                margin: 0;
            }
            @include media(tablet){
                font-size: map-get($p-fsize, md);
            }
            @include media(desktop){
                font-size: map-get($p-fsize, lg);
            }
        }
    }
    .p-main{
        @extend .text;
        margin: 0 auto;
        padding-top: 1rem;
        @include media(mobile){
            width: 90%;
            font-size: map-get($p-fsize, sm);
        }
        @include media(tablet){
            width: 90%;
            font-size: map-get($p-fsize, md);
        }
        @include media(desktop){
            width: 85%;
            font-size: map-get($p-fsize, lg);
        }
    }
    .snd-sct-main{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin: 0 auto;
        padding-top: 1rem;
        @include media(mobile){
            flex-direction: column;
            width: 90%;
        }
        @include media(tablet){
            width: 90%;
        }
        @include media(desktop){
            width: 85%;
        }
        p{
            @extend .text;
            margin-right: 1.5rem;
            margin-bottom: 0;
            @include media(mobile){
                font-size: map-get($p-fsize, sm);
                margin: 0 auto;
            }
            @include media(tablet){
                font-size: map-get($p-fsize, md);
            }
            @include media(desktop){
                font-size: map-get($p-fsize, lg);
            }
        }
    }
    .trd-sct-main{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
        padding-top: 1rem;
        @include media(mobile){
            flex-direction: column;
            width: 90%;
        }
        @include media(tablet){
            width: 90%;
        }
        @include media(desktop){
            width: 85%;
        }
        p{
            @extend .text;
            margin-left: 1.5rem;
            margin-bottom: 0;
            @include media(mobile){
                font-size: map-get($p-fsize, sm);
                margin: 0 auto;
            }
            @include media(tablet){
                font-size: map-get($p-fsize, md);
            }
            @include media(desktop){
                font-size: map-get($p-fsize, lg);
            }
        }
    }

}