.pistas-container{
    @extend .container;
    @include media(mobile){
        width: 100%;
    }
    @include media(tablet){
        width: 100%;
    }
    @include media(desktop){
        width: 95%;
    }
    ul{
        display: flex;
        flex-flow: row wrap;
        margin: 0 2rem;
        padding: 0;
        @include media(mobile){
            flex-direction: column;
            align-items: center;
        }
        @include media(tablet){
            justify-content: space-evenly;
        }
        li{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 0 2rem;
            @include media(mobile){
                width: 80%;
            }
            @include media(tablet){
                width: 40%;
            }
            @include media(desktop){
                width: 20%;
            }
            h2{
                width: 100%;
                text-align: center;
                @include media(mobile){
                    font-size: map-get($h2-fsize, sm);
                }
                @include media(tablet){
                    font-size: map-get($h2-fsize, md);
                }
                @include media(desktop){
                    font-size: map-get($h2-fsize, lg);
                }
            }
            img{
                @extend .images-styles;
                width: 90%;
                height: auto;
            }
        }
    }
}